.interface {
  display: block;
  background-color: lightblue;
  position: relative;
  width: 100%;
  height: 20%;
}

body {
  justify-content: center;
  font-family: arial;

  aligh-items: center;
}

.p5Canvas {
  border: 2px solid black;
}
